{% extends 'base.html' %}
{% block conteudo %}

<main>
  <br><br><br>
  <h1><strong>BOOKBIRD</strong></h1>
    <img src="{{url_for('static',filename='29302 (1).png')}}">

  <div class="divisoria"></div>

  <p class="intro">
    Site responsável pela administração da livraria BookBird.
  </p>


    <div class="card" style="width: 18rem;">
      <img src="{{url_for('static',filename='user.png')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Cadastrar</h5>
        <p class="card-text">Cadastre-se e receba nossas notificações!!</p>
        <a href="/cadastro" class="btn btn-primary">Cadastre-se</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{{url_for('static',filename='icon-megaphone.png')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Avisos</h5>
        <p class="card-text">Mural de avisos da livraria!!</p>
        <a href="#" class="btn btn-primary">Ver Mais</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img src="{{url_for('static',filename='book.png')}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Livros</h5>
        <p class="card-text">Livros disponíveis na livraria!!</p>
        <a href="/livros" class="btn btn-primary">Ver Mais</a>
      </div>
    </div>


</main>

<footer class="bg-body-dark text-center">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="#">Livraria BookBird</a>
    </div>
    <!-- Copyright -->
  </footer>



{% endblock %}