{% extends 'base.html' %}
{% block conteudo %}
  <main>
    <h1><strong>CONSULTAR CHAVE</strong></h1>
    <div class="divisoria"></div>


    <form action="/listarIndividual" method="POST">
      <label>Nome:</label>
      <input type="text" id="nome" name="nome"><br><br>

      <button>Consultar</button>
    </form>

    <br><br><br>
    <h1><strong>CONSULTAR DADOS</strong></h1>
    <div class="divisoria"></div>

    <form action="/listarDados" method="POST">
      <label>Chave de cadastro:</label>
      <input type="text" id="codigo" name="codigo"><br><br>

      <button>Consultar</button>
    </form>

</main>

<footer class="bg-body-dark text-center">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="#">Livraria BookBird</a>
    </div>
    <!-- Copyright -->
  </footer>

{% endblock %}