{% extends 'base.html' %}
{% block conteudo %}
    <main>
      <form action="/listarTodos">
        <h1><strong>CADASTROS</strong></h1>
          <div class="divisoria"></div>


          <div class="card" style="width: 18rem;">
              <img src="{{url_for('static',filename='pessoas.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Cadastros</h5>
                <p class="card-text">Lista de pessoas cadastradas na livraria.</p>
                <a href="/listarTodos" class="btn btn-primary">Consultar</a>
              </div>
        </div>

          <div class="card" style="width: 18rem;">
              <img src="{{url_for('static',filename='livrosss.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Livros cadastrados</h5>
                <p class="card-text">Lista de livros cadastrados na livraria.</p>
                <a href="/listarTodos" class="btn btn-primary">Consultar</a>
              </div>
        </div>

          <div class="card" style="width: 18rem;">
              <img src="{{url_for('static',filename='func.png')}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Funcionários cadastros</h5>
                <p class="card-text">Lista de funcionários cadastrados na livraria.</p>
                <a href="/listarTodos" class="btn btn-primary">Consultar</a>
              </div>
        </div>
      </form>

    </main>

<footer class="bg-body-dark text-center">
    <!-- Grid container -->
    <div class="container p-4"></div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2020 Copyright:
      <a class="text-body" href="#">Livraria BookBird</a>
    </div>
    <!-- Copyright -->
  </footer>
{% endblock %}